# This workflow will install Python dependencies and run a python script to generate an E-R diagram

name: Make ER diagram

on:
  workflow_dispatch:  # manual execution
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.GH_TOKEN }}

    - name: Set up Python 3.13
      uses: actions/setup-python@v3
      with:
        python-version: "3.13"

    - name: Install dependencies
      run: |
        sudo apt install graphviz libgraphviz-dev
        python -m pip install --upgrade pip
        pip install astrodbkit eralchemy2 lsst-felis

    - name: Run script
      run: |
        python scripts/make_schema_erd.py

    - name: Commit diagram
      run: |
        if [[ `git status --porcelain` ]]; then            
          git config user.name "${{ secrets.USER_LOGIN }}"
          git config user.email "${{ secrets.USER_ID }}+${{ secrets.USER_LOGIN }}@users.noreply.github.com"
          git add docs/figures/schema_erd.png
          git commit -m "Updating ER diagram"
          git push    
        else
          echo "No changes were detected. git commit push action skipped."
        fi
      shell: bash
# The user email is {user.id}+{user.login}@users.noreply.github.com. See users API: https://api.github.com/users/github-actions%5Bbot%5D